:root {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
  color: #4D4D4D;
}

h1 {
  font-size: 1.5rem;
  color: black;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #4D4D4D;
}

h3 {
  color: #4D4D4D;
}

h4 {
  color: #4D4D4D;
}

h5 {
  color: #4D4D4D;
}

p {
  font-size: 1rem;
  color: gray;
}

li {
  list-style: none;
  color: #4D4D4D;
}

ul {
  padding: 0;
}

a {
  color: #4D4D4D;
  text-decoration: none;
}

a:hover {
  color: #4CAF4F;
}

button {
  background-color: #4CAF4F;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 12px 17px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 10px;
}

body {
  display: flex;
  flex-flow: column;
  background-color:  #F5F7FA;;
}

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: first baseline;
  gap: 10px;
  padding: 10px 32px;
  background-color:  #F5F7FA;;
}

nav {
  grid-column: 2;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

header button {
  width: 100px;
  height: 50px;
  justify-self: flex-end;
}

.green {
  color:#4CAF4F; 
}

/* Hero */

#hero {
  padding: 32px;
  display: flex;
  flex-flow: column;
  background-color: #F5F7FA;

}

#hero-1 img {
  width: 40%;
  object-fit: contain;
}

#hero-1 {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}

#hero-1 div{
  width: 40%;
}

