:root {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
  color: #4D4D4D;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1 {
  font-size: 1.5rem;
  color: black;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #4D4D4D;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #4D4D4D;
}

h4 {
  color: #4D4D4D;
}

h5 {
  color: #4D4D4D;
}

p {
  font-size: 1rem;
  color: gray;
}

li {
  list-style: none;
  color: #4D4D4D;
}

ul {
  padding: 0;
}

a {
  color: #4D4D4D;
  text-decoration: none;
}

a:hover {
  color: #388E3B;
  cursor: pointer;
}

button {
  background-color: #4CAF4F;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 12px 17px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #388E3B;
}

body {
  display: flex;
  flex-flow: column;
  background-color:  #F5F7FA;;
}

/* Header */

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: first baseline;
  gap: 10px;
  padding: 10px 32px;
  background-color:  #F5F7FA;;
}

nav {
  grid-column: 2;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

header button {
  width: 100px;
  height: 50px;
  justify-self: flex-end;
}

.green {
  color:#4CAF4F; 
}

/* Hero */

#hero {
  padding: 48px 32px;
  display: flex;
  flex-flow: column;
  background-color: #F5F7FA;

}

#hero-1 img {
  width: 40%;
  object-fit: contain;
}

#hero-1 {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}

#hero-1 div{
  width: 40%;
}

/* info -- Clients and Manage Community */

.info {
  background-color: white;
  display: flex;
  flex-flow: column;
  text-align: center;
  line-height: 1;
  padding: 32px;
  align-items: center;
}

.info h3 {
  max-width: 40%;
}

.info ul {
  margin-top: 48px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info li {
  font-size: 3rem;
}

.info img {
  width: 200px;
  height: 120px;
  object-fit: contain;
}

.info .member-info {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
}

.member-info div {
  max-width: 300px;
  padding: 17px;
  box-shadow: 4px 4px 10px gainsboro;

}

/* Cost Section */

#cost {
  background-color: white;
  padding: 32px;
  display: flex;
}

#cost div {
  max-width: 60%;
}

#cost img {
  object-fit: contain;
}

/* Stats */ 

#stats {
  padding: 48px 6vw ;
  display:flex;
  gap: 32px;
  justify-content: space-evenly;
}

#stats h3 {
  max-width:70%;
}

#stats .numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.numbers > div {
  min-width: 200px;
  padding: 20px;
}

.numbers .block {
  display: flex;
  gap: 20px;
}

.block i {
  font-size: 2rem;
  color: #4CAF4F;
}

/* How-to */ 

#how-to {
  background-color: white;
  padding: 32px;
  display: flex;
  justify-content: space-around;
}

#how-to div {
  max-width: 700px;
}

#how-to img {
  object-fit: contain;
}

/* Quote */

#quote {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 32px;
  max-width: 80%;
  align-self: center;
}

#quote img {
  width: 30%;
  object-fit: cover;
}

#quote-photo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#quote-photo p {
  margin: 0px;
}

#quote-photo ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
}

